In [2]:
import pandas as pd
uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
data = pd.read_csv(uri)
data.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [14]:
map = {
    "home" : "tela_inicial",
    "how_it_works" : "nosso_trabalho",
    'contact' : 'contato',
    "bought" : 'comprou'
}
data.rename(columns = map)

    tela_inicial  nosso_trabalho  contato  comprou
0              1               1        0        0
1              1               1        0        0
2              1               1        0        0
3              1               1        0        0
4              1               1        0        0
..           ...             ...      ...      ...
94             0               0        1        0
95             1               1        1        1
96             0               0        1        0
97             0               1        0        0
98             0               0        0        0

[99 rows x 4 columns]

In [16]:
x = data[['home', 'how_it_works', 'contact']]
y = data['bought']
print(data)

    home  how_it_works  contact  bought
0      1             1        0       0
1      1             1        0       0
2      1             1        0       0
3      1             1        0       0
4      1             1        0       0
..   ...           ...      ...     ...
94     0             0        1       0
95     1             1        1       1
96     0             0        1       0
97     0             1        0       0
98     0             0        0       0

[99 rows x 4 columns]

In [19]:
data.shape

(99, 4)

In [25]:
from sklearn.model_selection import train_test_split

In [57]:
SEED = 24

In [67]:
test = train_test_split(x, y, random_state = SEED, test_size=0.25, stratify=y)
print(len(test))
treino_x = test[0]
teste_x = test[1]
treino_y = test[2]
teste_y = test[3]

4

In [59]:
from sklearn.svm import LinearSVC
model = LinearSVC()
model.fit(treino_x, treino_y)
result = model.predict(teste_x)
from sklearn.metrics import accuracy_score
print(f"{accuracy_score(teste_y, result) * 100}%")

100.0%

In [69]:
print(treino_y.value_counts(), teste_y.value_counts(), sep="\n")

0    49
1    25
Name: bought, dtype: int64
0    17
1     8
Name: bought, dtype: int64